*, ::before, ::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    background: #f1f1f1;
    font-family: Arial, Helvetica, sans-serif;
}

/* Barre de navigation */ 

nav {
    width: 100%;
    height: 70px;
    background: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-menu-left{
    border-right: .5px solid #aaa;
    padding: 15px;
}

/*Menu burger*/
.nav-menu-left .nav-burger {
    width: 40px;
    height: 25px;
    position: relative;
}

.nav-menu-left .nav-burger .barre {
    position: absolute;
    width: 80%;
    height: 2px;
    background: #000;
    cursor: pointer;
    top: 50%;
    left: 50%;
    border-radius: 5px;
    transform: translate(-50%, -50%);
    transition: all .2s ease-in-out;
}

.nav-menu-left .nav-burger .barre:nth-child(1){
    top: 4px;
}
.nav-menu-left .nav-burger .barre:nth-child(2){
    top: 12px;
}
.nav-menu-left .nav-burger .barre:nth-child(3){
    top: 20px;
}

/*Animation burger */

.nav-menu-left.active .nav-burger .barre:nth-child(1){
    top: 12px;
    left: 4px;
    transform: rotate(135deg);
}
.nav-menu-left.active .nav-burger .barre:nth-child(2){
    top: 12px;
    left: 4px;
    transform: translateY(50%) rotate(-135deg);
}
.nav-menu-left.active .nav-burger .barre:nth-child(3){
    top: 12px;
    left: 4px;
    transform: translateY(50%) rotate(135deg);
}

.nav-menu-left .nav-burger-menu{
    font-size: 12px;
    padding-left: 5px;
}

.nav-menu-left .nav-list-burger {
    position: absolute;
    top: 72px;
    left: 0;
    background: #fff;
    box-shadow: 1px -1px 1px #ccc;
}

/* Liste du menu avec les logo */
.nav-menu-left .nav-list-burger .nav-list-items {
    display: none;

}
.nav-menu-left .nav-list-burger .nav-list-items.active {
    display: block;
}
.nav-menu-left .nav-list-burger .nav-list-items .list-item{
    list-style: none;
    border-bottom: 1px solid #eee;
    padding: 20px 35px 20px 10px;
    font-size: 12px;
    font-weight: 600;
    color: #777;
    transition: all .4s ease-in-out;
}

.nav-menu-left .nav-list-burger .nav-list-items .list-item img{
    width: 20px;
    height: 20px;
    margin: -5px 10px;
}

.nav-menu-left .nav-list-burger .nav-list-items .list-item .list-icon{
    width: 100%;
    height: auto;
    background-image: url("../ressources/icons8-account-50.png");
}

.nav-menu-left .nav-list-burger .nav-list-items .list-item:hover{
    transform: translateX(15px);
}

/* Millieu de la barre de navigation */ 
nav .nav-icon-menu-middle{
    width: 70px;
    height: 60px;
    margin-top: 5px ;
    border-radius: 60% 20%;
    background: rgb(0, 116, 106);
}

nav .nav-icon-menu-middle a{
    text-decoration: none;
    color: #fff;
    font-weight: 900;
    line-height: 70px;
    display: block;
    text-align: center;
    font-family: cursive;
}

nav .nav-menu-right {
    margin: 0;
}

nav .nav-menu-right .location{
    text-decoration: none;
    color: rgb(0, 116, 106);
    padding: 10px;
    border: 2px solid rgb(0, 116, 106);
    ;
    font-size: 12px;
    font-weight: 600;
    margin-right: 10px;
    transition: .2s ease-in-out;
}

nav .nav-menu-right .location:hover{
    text-decoration: none;
    color: rgb(255, 255, 255);
    background: rgb(0, 116, 106);
    transform: translateY(100%);
}
nav .nav-menu-right .inscrit,
nav .nav-menu-right .connect{
    text-decoration: none;
    color: #333;
    padding: 30px 25px;
    font-size: 12px;
    border-left: 1px solid rgba(100,100,100,.5);
}

nav .nav-menu-right .inscrit:hover,
nav .nav-menu-right .connect:hover{
    background: #f1f1f1;
}

/* REsponsive A faire *************************************************/ 


















/* *************************************************************************/

/*Page d'accueil */ 

.container-accueil {
    width: 100%;
    height: 500px;
    background:center / cover url("../ressources/voiture.jpg") no-repeat ;
}

.container-accueil .container-accueil-titre h1 {
    color: #fff;
    font-weight: 600;
    padding: 60px 0 10px 35px;
    font-size: 40px;
    text-shadow: 3px 1px 10px #aaa;
}

.container-accueil .container-accueil-titre p {
    color: #fff;
    padding: 0px 0 60px 35px;
    font-size: 22px;
    text-shadow: 3px 1px 10px #aaa;
}

.container-accueil form {
    width: 95%;
    height: auto;
    margin: 20px auto;
}

.container-accueil form input:nth-child(1){
    width: 40%;
    height: 50px;
    padding-left: 30px;
    outline: none;
    border: none;
    border-radius: 5px;
}
.container-accueil form input:nth-child(2){
    width: 20%;
    height: 50px;
    padding-left: 30px;
    outline: none;
    border: none;
    border-radius: 5px;
}
.container-accueil form input:nth-child(3){
    width: 20%;
    height: 50px;
    padding-left: 30px;
    outline: none;
    border: none;
    border-radius: 5px;
}


.container-accueil form select{
    width: 18%;
    height: 50px;
    padding-left: 30px;
    outline: none;
    border: none;
    border-radius: 5px;
}
.container-accueil form button{
    width: 100%;
    height: 50px;
    margin: 20px 0;
    background: rgb(0, 116, 106);
    color: #fff;
    outline: none;
    border: none;
    border-radius: 5px;
    font-size: 18px;
}

.container-accueil .assurance {
    color: #fff;
    display: block;
    width: 100%;
    text-align: end;
    padding: 20px;
    cursor: pointer;
}



/* REsponsive A faire *************************************************/ 


















/* *************************************************************************/


/*  A propos  */

.container-propos{
    width: 99%;
    display: flex;
    justify-content: space-between;
    background: #fff;
    margin: 0 auto;
}

.container-propos .propos-item{
    width: 30%;
    text-align: start;
    margin: 30px 0;
    padding: 10px 60px;
}
.propos-item:not(.propos-item:last-child){
    border-right: 1px solid #aaa;
}


/* REsponsive A faire *************************************************/ 








/* *************************************************************************/

.container-list{
    width: 100%;
    max-width: 1100px;
    display: flex;
    margin: 60px auto;
    
}
.container-list .list-voiture{
    width: 55%;
    height: auto;
    margin: 20px 30px;
}
.container-list .list-voiture h3{
    font-size: 20px;
}

.container-list .list-voiture .card-galerie-voiture{
    width: 100%;
    height: auto;
    margin: 30px 0 20px 0;
    display: flex;
    flex-wrap: wrap;    
}
.container-list .list-voiture .card-galerie-voiture .card{
    width: 250px;
    height: 250px;
    margin: 10px 20px 20px 0;
    flex-shrink: 0;
    position: relative;
    box-shadow: 0 0 4px #ccc;
    background: #fff;

}
.container-list .list-voiture .card-galerie-voiture .card img{
    width: 100%;
    height: 70%;
}
.container-list .list-voiture .card-galerie-voiture .card span{
    font-size: 12px;
    position: absolute;
    bottom: 20px;
    right: 20px;
    color: #fff;
}
.container-list .list-voiture .card-galerie-voiture .card .ville{
    left: 0;
    bottom: 80px;
    padding: 5px;
}
.container-list .list-voiture .card-galerie-voiture .card .prix-jour{
    right: 0;
    bottom: 110px;
    padding: 5px;
}
.container-list .list-voiture .card-galerie-voiture .card .prix{
    right: 0;
    bottom: 80px;
    padding: 5px;
    font-size: 26px;
    font-weight: 600;
}

.container-list .list-voiture .card-galerie-voiture .card .card-resume{
    width: 100%;
    padding: 10px;
}
.container-list .list-voiture .card-galerie-voiture .card .card-resume h4{
    font-weight: 400;
}
.container-list .list-voiture .card-galerie-voiture .card .card-resume p{
    font-size: 10px;
    padding-top: 5px;
}
.container-list .list-voiture .card-galerie-voiture .card .card-resume p span{
    font-size: 10px;
    padding-top: 5px;
    color: #aaa;
    position: inherit;
    padding: 15px 7px;
}
.container-list .list-voiture .card-galerie-voiture .card .card-resume img{
    width: 50px;
    height: 50px;
    padding: 10px;
    border-radius: 50%;
    position: absolute;
    right: 10px;
    bottom: 10px;
}

.container-list .list-avis{
    width: 50%;
    height: auto;
    margin: 20px 0;
}

.container-list .list-avis h3{
    font-size: 20px;
}

.container-list .list-voiture .card-galerie-voiture{
    width: 100%;
    height: auto;
    margin: 30px 0 20px 0;
    display: flex;
    flex-wrap: wrap;    
}

.container-list .list-avis .card-galerie-avis {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    margin: 20px 0px;
    
}

.container-list .list-avis .card-galerie-avis .card-resume-avis{
    margin: 20px 0px;
    box-shadow: 0 0 10px #ccc;
    position: relative;
    background: #fff;

}

.container-list .list-avis .card-galerie-avis .card-resume-avis h4{
    padding: 20px 10px 0;
    font-weight: 600;
}
.container-list .list-avis .card-galerie-avis .card-resume-avis span{
    display: block;
    padding: 5px 10px 0;
    margin-bottom: 20px;
    font-size: 10px;
}
.container-list .list-avis .card-galerie-avis .card-resume-avis p{
    padding: 5px 10px 0;
    margin-bottom: 20px;
    font-size: 12px;
}

.container-list .list-avis .card-galerie-avis  .card-resume-avis img{
    width: 50px;
    height: 50px;
    padding: 10px;
    border-radius: 50%;
    position: absolute;
    top: 10px;
    right: 10px;
}


/* REsponsive A faire *************************************************/ 


















/* *************************************************************************/


/* Parralax louer sa voiture */ 

.container-parallax{
    width: 100%;
    height: 300px;
    color: #fff;
    text-align: center;
    background: #555;
    background-image: url("../ressources/voiture.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.container-parallax h3{
    padding: 30px 0 15px 0;
    font-size: 24px;
    text-shadow: 1px 1px 3px #333;
}
.container-parallax p{
    padding: 10px 10px 15px 10px;
    font-size: 16px;
}
.container-parallax button{
    margin-top: 40px;
    font-size: 16px;
    padding: 15px;
    border-radius: 3px;
    outline: none;
    border: none;
    background: rgb(0, 116, 106);
    color: #fff;
}
.container-parallax a{
    display: block;
    margin-top: 10px;
    color: #fff;
    padding: 10px 10px 15px 10px;
    font-size: 10px;
}

/* REsponsive A faire *************************************************/ 


















/* *************************************************************************/


/* Une envie une voiture */

.container-envie {
    width: 100%;
    height: 500px;
    margin-top: 40px;
    background: #fff;
    padding: 20px;
}

.container-envie h3{
    padding: 40px 0;
    color: #555;
}

.container-envie .envie-galerie{
    height: auto;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: scroll;
}
.container-envie .envie-galerie .card {
    width: 30%;
    height: 300px;
    flex-shrink: 0;
    margin-right: 20px;

}

.container-envie .envie-galerie .card img{
    width: 100%;
    height: 85%;
    border-radius: 5px;
}
.container-envie .envie-galerie .card p{
    padding: 10px 2px 0;
    font-size: 14px;
    color: #555;
}

/* REsponsive A faire *************************************************/ 


















/* *************************************************************************/


/* Contact info */ 

.container-info {
    width: 50%;
    background: #fff;
    margin: 50px auto;
    border-radius: 5px;
    box-shadow: 1px 1px 3px #aaa;
}

.container-info .info-question {
    padding: 40px 20px;
}

.container-info .info-question h3{
    padding: 20px 0;
    font-size: 2rem;
}
.container-info .info-question p{
    line-height: 20px;
    font-size: 1.2rem;

}

.container-info .info-question p span{
    color: rgb(0, 116, 106);
    font-weight: 600;
}
.container-info .info-question p:nth-child(3){
    color: #aaa;
    font-weight: 100;
    font-size: .8rem;
}

/* REsponsive A faire *************************************************/ 











/************************************************************/ 


/* Footer */ 

footer {
    width: 100%;
    height: 400px;
    background: #555;
    color: #fff;
}

footer .container-footer{
    width: 60%;
    margin: 50px auto 0;
    padding: 50px 0;
    border-bottom: 1px solid #fff;
}

footer .container-footer .foot-list {
    display: flex;
    justify-content: space-between;
    
}

footer .container-footer .foot-list h4{
    padding-bottom: 20px;
    font-size: .8rem;
}
footer .container-footer .foot-list li{
    list-style-type: none;
    padding: 5px 0;
    font-size: .6rem;
    cursor: pointer;
}
footer .container-footer .foot-list li:hover{
    text-decoration: underline;
}

footer .renseignement {
    width: 60%;
    text-align: center;
    margin: 30px auto;
    border-bottom: 1px solid #fff;
}
footer .renseignement span{
    font-size: .8rem;
    font-weight: 600;
}

footer .renseignement .renseigne-img img{
    width: 40px;
    height: 40px;
    margin: 5px 5px;
    cursor: pointer;
}


























/* REsponsive A faire *************************************************/ 











/************************************************************/ 


